extends base

block head_content 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;0,900;1,900&display=swap" rel="stylesheet"> 

block page_content

    section.home-section 
        .con.center.goDown
            img.logo-mousqe(src="/img/logo-1.png", alt="" )
            h1.main-heading ما لا يسع المسلم جهله
            
            